
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>预研中...</title>
		<meta name="Keywords" content="预研中..." />
		<meta name="Description" content="预研中..." />
		<link href="http://static.u148.net/csslib/u148_common.css" rel="stylesheet" type="text/css" />
		<link href="http://static.u148.net/csslib/u148_tale.css" rel="stylesheet" type="text/css" />
		<link href="http://feed.u148.net" rel="alternate" type="application/rss+xml" />
		<script src="http://static.u148.net/utils/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="http://static.u148.net/utils/jquery/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="http://static.u148.net/utils/jquery.SuperSlide.2.1.1.js"></script>
		<script src="http://static.u148.net/utils/visui/visui.config.js" type="text/javascript"></script>
		<script src="http://static.u148.net/utils/visui/visui.all.min.js" type="text/javascript"></script>
		<script src="http://static.u148.net/utils/sea.js" type="text/javascript"></script>
		<script src="http://static.u148.net/utils/sea-config.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
		<script src="http://dup.baidustatic.com/js/ds.js"></script>
		<script language="javascript" type="text/javascript">
		</script>
	</head>
	<body>
		<div id="div_status" class="login-user" style="display:none;"></div>
		<div class="u148main">
			<div class="u148content">
				<div class="content">
					<h1>
						<a href="$!result.data.obj.contentUrl">$!result.data.obj.title</a>
					</h1>
					<div class="article-info">
						来源：$!result.data.obj.platformName
						<font class="space">┊</font>
						$!result.data.obj.publishTimeStr 
					</div>
					<div class="contents">
						$!result.data.obj.content
					</div>
					<!-- div class="share">
						<ul>
							<li class="share-qzone">
								<a href="http://www.jiathis.com/send/?webid=qzone&url=http://www.u148.net/tale/15398.html&title=有时候执着是一种负担，放弃是一种解脱&uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/qzone.gif" />
								</a>
							</li>
							<li class="share-sina">
								<a href="http://www.jiathis.com/send/?webid=tsina&url=http://www.u148.net/tale/15398.html&title=有时候执着是一种负担，放弃是一种解脱&appkey=2030349251&uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/sina.gif" />
								</a>
							</li>
							<li class="share-renren">
								<a href="http://www.jiathis.com/send/?webid=renren&url=http://www.u148.net/tale/15398.html&title=有时候执着是一种负担，放弃是一种解脱&appkey=129399&uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/renren.gif" />
								</a>
							</li>
							<li class="share-weixin">
								<img id="img_weixin" src="http://file5.u148.net/qrcode/tale/15398" />
							<br />微信扫描二维码分享</li>
							<li class="share-qq">
								<a href="http://www.jiathis.com/send/?webid=cqq&url=http://www.u148.net/tale/15398.html&title=有时候执着是一种负担，放弃是一种解脱&uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/qq.gif" />
								</a>
							</li>
							<li class="share-tqq">
								<a href="http://www.jiathis.com/send/?webid=tqq&url=http://www.u148.net/tale/15398.html&title=有时候执着是一种负担，放弃是一种解脱&appkey=801009711&uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/tqq.gif" />
								</a>
							</li>
							<li class="share-more">
								<a href="http://www.jiathis.com/share?uid=893353" target="_blank">
									<img src="http://static.u148.net/images/share_icons/more.gif" />
								</a>
							</li>
						</ul>
					</div -->
				</div>
			</div>
			<div class="u148sidebar">
				<!-- div class="about-user">
					<div class="user-content">
						<div class="user-head">
							<a href="/u/yue926">
								<img src="http://img3.u148.net/2014/4/uhead/1396960596371.jpg" width="120" height="120" border="0" />
							</a>
						</div>
						<div class="user-info">
							<div class="name">
								<a href="/u/yue926">苏盈年</a>
							</div>
							<div class="address">山东省潍坊市</div>
							<div class="sign">书香氤氲话桑麻。</div>
						</div>
					</div>
					<div class="user-honour">
						<div class="honour-title">≡ 本站荣誉 ≡</div>
						<div class="honour-detail">美图美文分享、隐身校对员、U吧百科（U条给封的）【图U起名】第210、250期冠名奖，219、221、263、269、275、276、284、300、304、306、313、315、317、320、324期U秀冠名奖</div>
					</div>
					<div class="user-relation">
						<div id="btn_add_friend" class="user-follow" style="display:none">+关注</div>
						<div id="btn_remove_friend" class="user-follow" style="display:none">取消关注</div>
						<div id="btn_send" class="user-msg" style="display:none">发私信</div>
					</div>
					<div class="user-data">
						<div class="data-box">
							<div class="box-left">文章</div>
							<div class="box-right">181</div>
						</div>
						<div class="data-box">
							<div class="box-left">评论</div>
							<div class="box-right">3414</div>
						</div>
					</div>
				</div -->
				<!--  div class="sidebar">
					<h2>一些段子</h2>
					<div class="rank">
						<ul>
							<li>
								<a href="/tale/13645.html" target="_blank">搞笑段子：一定是我交友的方式不对</a>
							</li>
							<li>
								<a href="/tale/10141.html" target="_blank">倒霉小偷深夜潜入美女闺房</a>
							</li>
							<li>
								<a href="/tale/6125.html" target="_blank">让你每天幸福的14种方法</a>
							</li>
							<li>
								<a href="/tale/8080.html" target="_blank">校长哭了！全体老师“辞职”的真正原因</a>
							</li>
							<li>
								<a href="/tale/1150.html" target="_blank">矛盾</a>
							</li>
							<li>
								<a href="/tale/2363.html" target="_blank">越想睡越睡不着，怎么办？</a>
							</li>
							<li>
								<a href="/tale/3085.html" target="_blank">十项指标看你是否健康</a>
							</li>
							<li>
								<a href="/tale/2121.html" target="_blank">中国历史上妙趣横生的20副经典有趣的对联</a>
							</li>
							<li>
								<a href="/tale/15073.html" target="_blank">搞笑的两口子吵架原因汇总</a>
							</li>
						</ul>
					</div -->
				</div>
			</div>
		</div>
		<script type="text/javascript">
	</script>
</body>
</html>
