
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>预研中</title>
<meta name="keywords" content="" />
<meta name="description" content="预研中" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<script type="text/javascript" src="http://j.gamersky.com/g/jquery-1.8.3.js"></script>
<link type="text/css" rel="stylesheet" href="http://j.gamersky.com/allsite.css" />
<link type="text/css" rel="stylesheet" href="http://j.gamersky.com/web2015/css/QZnav.css" />
<link type="text/css" rel="stylesheet" href="http://j.gamersky.com/web2015/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://j.gamersky.com/web2015/css/style_newcontent.css" />
<link type="text/css" rel="stylesheet" href="http://j.gamersky.com/web2015/css/hei_newcontent.css" />
<script type="text/javascript" src="http://j.gamersky.com/web2015/js/content.js"></script>
<script type="text/javascript" src="http://j.gamersky.com/web2015/js/Digg.js"></script>
<script type="text/javascript">
	var wapUrl = "http://wap.gamersky.com/news/Content-874679.html";
	var contentPageIndex = 1;
	var pageIndex = 1;
</script>
<script language="javascript" type="text/javascript" src="http://j.gamersky.com/g/mobileesp.js"></script>
</head>
<script>
	document.write(body);
</script>
<script src="http://ja.gamersky.com/background/back_news1000.js"></script>
<div class="bodybg"></div>
<div class="bgAdWrap"></div>
<div class="Mid">
	<div class="Mid_top">
		<!--通栏广告-->

		<!--Mid0 end-->

		<!--通栏广告-->

		<div class="Mid1">
			<div class="Mid1nav">
				<a href="javascript:;" class="like cur">正文内容</a> 
			</div>
			<!--Mid1_L end-->
			<!-- div class="Mid1Search">
				<ul class="Search">
					<li class="Sname">
						<div class="Sselect">百度</div>
						<ul class="SS none">
							<li><a href="javascript:;">百度</a></li>
							<li><a href="javascript:;">站内</a></li>
						</ul>
					</li>
					<li class="Sform block">
						<form action="http://soso.gamersky.com/cse/search" method="get" target="_blank">
							<input type="hidden" name="s" value="3068275339727451251" /> <input class="Sinput" type="text" name="q" value="" autocomplete="off" /> <input class="Sbutton" type="submit" value="搜百度" />
						</form>
					</li>
					<li class="Sform none">
						<form action="http://so.gamersky.com/" method="get" target="_blank">
							<input class="Sinput" type="text" name="s" value="" autocomplete="off" /> <input class="Sbutton" type="submit" value="搜本站" />
						</form>
					</li>
				</ul>
			</div -->
			<!--Mid1_R end-->
		</div>
		<!--Mid1 end-->
	</div>
	<div class="Mid2">
		<div class="Mid2_L">
			<div class="Mid2L_ctt block">
				<!-- div class="Mid2L_crumb">
					<a href="http://www.gamersky.com/">游民星空</a>&nbsp;>&nbsp;<a href="/" target="_blank">网络游戏</a>&nbsp;>&nbsp;<a href="/news/" target="_blank">新闻</a>&nbsp;>&nbsp;<span>正文</span>
				</div -->
				<div class="Mid2L_tit">
					<h1>$!result.data.obj.title</h1>
					<div class="detail">
						$!result.data.obj.publishTimeStr 来源：$!result.data.obj.platformName [整理] 
					</div>
				</div>
				<div class="Mid2L_con">

					$!result.data.obj.content

				</div>


				<!-- ParserInfo: Processed in 0.0346647 second(s) Ticks:64320 -->
			</div>
			<!--ctt end-->
			<!--ctt end-->
			<!--ctt end-->
			<!--评论-->

		</div>
		<!--Mid2_L end-->
		<!--Mid2_R end-->
	</div>
	<!--Mid2 end-->
</div>
<!--Mid end-->
<!--Bot end-->

<script>
	var baiduImagePlus = {
		noLogo : true,
		unionId : 'u2448089',
		formList : [ {
			formId : 3
		} ]
	};
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/i.js"></script>
<div style="display: none">
</div>

</body>
</html>
<!-- ParserInfo: Processed in 2.5922808 second(s) Ticks:4809946 -->