<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>预研中...</title>
  <meta name="keywords" content="" />
  <meta name="description" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <script type="text/javascript" src="http://192.168.29.9:8091/src/jquery-1.11.2.js"></script>
  <link type="text/css" rel="stylesheet" href="http://j.gamersky.com/web2015/css/QZnav.css" />
  <link type="text/css" rel="stylesheet" href="http://j.gamersky.com/olzq/ow/css/style.css" />
  <link type="text/css" rel="stylesheet" href="http://j.gamersky.com/olzq/ow/css/style_list.css" />
  
  <link rel="stylesheet" type="text/css" href="http://192.168.29.9:8091/src/paging.css">
  <script type="text/javascript" src="http://192.168.29.9:8091/src/query.js"></script>
  <script type="text/javascript" src="http://192.168.29.9:8091/src/paging.js""></script>

</head>
<body>

<div class="Mid">
  <div class="Mid_L">
    <div class="MidLtit"><div class="Search">
      <form class="Frm sos" action="http://soso.gamersky.com/cse/search" target="_blank">
        <input type="hidden" name="s" value="3068275339727451251">
        <input id="searchInput" class="txt" type="text" name="q" value="">
        <input id="searchBtn" class="sub" type="button" value="搜索">
      </form>
    </div></div>
    <div class="loadpic none"><span class="img"></span><span class="txt">正在加载...</span></div>
    <ul class="pic_txt contentpaging" data-nodeid="20894" data-isnodeid="true">
      
            
          
      <!-- 
      <li>
        <div class="img"><a href="http://ow.gamersky.com/201612/841857.shtml" target="_blank">
            <img src="http://imgs.gamersky.com/pic/2016/20161201_ll_136_11.jpg" alt="《守望先锋》死神雕像国内售价1499元 比国外贵不少"  width="200" height="112" class="pe_u_thumb" border="0">
          </a></div>
        <div class="tit"><a href="http://ow.gamersky.com/201612/841857.shtml" target="_blank">《守望先锋》死神雕像国内售价1499元 比国外贵不少</a></div>
        <div class="text">　　还记得几日前暴雪公布的《守望先锋》死神手办么？售价150美元（约合人民币1034元）的死神手办做工十分...</div>
        <div class="time">2016-12-01 18:21:33</div>
      </li>                           
       -->
      

      
      
    </ul>
  </div><!--Mid_L end-->

  <div class="Mid_R">

    <div class="MidRtit"><div class="tit">月度排行榜</div><div class="more"></div></div>
    <ul class="Rtxt">
      #foreach($obj in $!result.data.monthRankList) 
      <li class="li1"><div class="tit"><a href="$!obj.contentUrl" target="_blank">$!obj.title</a></div><div class="time">{$!obj.publishTimeStr2}</div></li>
      #end
    </ul>

    <div class="MidRtit"><div class="tit">一些段子</div><div class="more"></div></div>
    <ul class="Rtxt">
      #foreach($obj in $!result.data.forgeList) 
      <li class="li1"><div class="tit"><a href="$!obj.contentUrl" target="_blank">$!obj.title</a></div><div class="time">{$!obj.publishTimeStr2}</div></li>
      #end
      
    </ul>
  </div> 
  <!--Mid_R end--> 
  
  
  
</div>
<div id="pageTool"></div>
<script type="text/javascript">

$(document).ready(function() {
	
	$.ajax({
		type : "post",
		url : "http://192.168.29.9:8091/spiderDataList.action?t="+new Date().getTime(),
		success : function(result) {
			
			buildMainList(result.data.page.rows);
			
			
			$('#pageTool').Paging({pagesize:result.data.page.rp,count:result.data.page.total,callback:function(page,size,count){
				
				var searchInput = $("#searchInput").val();
				$.ajax({
					type : "post",
					url : "http://192.168.29.9:8091/spiderDataList.action?t="+new Date().getTime(),
					data : {"currentPageNum":page, "pageSize":size, "titleLike":searchInput},
					success : function(result) {
						buildMainList(result.data.page.rows);
					}
				});
				
			}});
		}
	});
	
	$("#searchBtn").click(function(){
		var searchInput = $("#searchInput").val();
		$.ajax({
			type : "post",
			url : "http://192.168.29.9:8091/spiderDataList.action?t="+new Date().getTime(),
			data : {"titleLike":searchInput},
			success : function(result) {
				buildMainList(result.data.page.rows);
				
				$('#pageTool').html("");
				
				$('#pageTool').Paging({pagesize:result.data.page.rp,count:result.data.page.total,callback:function(page,size,count){
					
					var searchInput = $("#searchInput").val();
					$.ajax({
						type : "post",
						url : "http://192.168.29.9:8091/spiderDataList.action?t="+new Date().getTime(),
						data : {"currentPageNum":page, "pageSize":size, "count":count, "titleLike":searchInput},
						success : function(result) {
							buildMainList(result.data.page.rows);
						}
					});
					
				}});
			}
		});
	
	});
	
});

function buildMainList(data){
	$(".pic_txt").html("");
	var str = [];
	for(var i=0; i<data.length; i++){
		var obj = data[i];
		
		str.push("<li>");
		str.push("<div class=\"img\"><a href=\""+obj.contentUrl+"\" target=\"_blank\">");
		str.push("<img src=\""+obj.imgSrc+"\" alt=\""+obj.title+"\"  width=\"200\" height=\"112\" class=\"pe_u_thumb\" border=\"0\">");
		str.push("</a></div>");
		str.push("<div class=\"tit\"><a href=\""+obj.contentUrl+"\" target=\"_blank\">"+obj.title+"</a></div>");
		str.push("<div class=\"text\">"+obj.abstractContent+"</div>");
		str.push("<div class=\"time\">标签&nbsp;|&nbsp;"+obj.platformName+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+obj.publishTimeStr+"</div>");
		str.push("</li>");
		str.push("");
	}
	$(".pic_txt").append(str.join(""));
}


</script>
</body>
</html>


