<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.local.test.reptile.dao.DataContentDao" >
  <resultMap id="BaseResultMap" type="com.local.test.reptile.pojo.vo.DataContentVo" >
	<id column="id" property="id" jdbcType="VARCHAR" />
	<result column="source_type" property="sourceType" jdbcType="INTEGER" />
	<result column="function_type" property="functionType" jdbcType="INTEGER" />
	<result column="imgSrc" property="imgSrc" jdbcType="VARCHAR" />
	<result column="title" property="title" jdbcType="VARCHAR" />
	<result column="abstract_content" property="abstractContent" jdbcType="VARCHAR" />
	<result column="publish_time" property="publishTime" jdbcType="DATE" />
	<result column="cy_comment_count" property="cyCommentCount" jdbcType="BIGINT" />
	<result column="visit_count" property="visitCount" jdbcType="BIGINT" />
	<result column="content_url" property="contentUrl" jdbcType="BIGINT" />
	<result column="tag" property="tag" jdbcType="VARCHAR" />
	<result column="author" property="author" jdbcType="VARCHAR" />
	<result column="starCount" property="starCount" jdbcType="INTEGER" />
  </resultMap>
  <select id="query" resultMap="BaseResultMap" parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery">
		select t.*
		from data_content t
		<include refid="conditionQuery.core" />
		order by
		<choose>
			<when test="paramMap.orderCol!=null">
				${paramMap.orderCol}
			</when>
			<otherwise>
				t.id
			</otherwise>
		</choose>
		
		<if test="paramMap.rp > 0">
			limit #{paramMap.firstResult} , #{paramMap.rp}
		</if>
  </select>
  <select id="queryCnt"
		parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery"
		resultType="java.lang.Integer">
		select count(*) from data_content t
		<include refid="conditionQuery.core" />
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from data_content
    where 
		id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="save" parameterType="com.local.test.reptile.pojo.po.DataContent">
	  	<selectKey resultType="int" keyProperty="id" >  
			select LAST_INSERT_ID() as value  
		</selectKey>  
    insert into data_content (
		source_type,
		function_type,
		imgSrc,
		title,
		abstract_content,
		publish_time,
		cy_comment_count,
		visit_count,
		content_url,
		tag,
		author,
		starCount
	)
    values (
		#{sourceType,jdbcType=INTEGER},
		#{functionType,jdbcType=INTEGER},
		#{imgSrc,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{abstractContent,jdbcType=VARCHAR},
		#{publishTime,jdbcType=DATE},
		#{cyCommentCount,jdbcType=BIGINT},
		#{visitCount,jdbcType=BIGINT},
		#{contentUrl,jdbcType=BIGINT},
		#{tag,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR},
		#{starCount,jdbcType=INTEGER}
    )
  </insert>
  <update id="update" parameterType="com.local.test.reptile.pojo.po.DataContent" >
    update data_content
    set 
		source_type = #{sourceType,jdbcType=INTEGER},
		function_type = #{functionType,jdbcType=INTEGER},
		imgSrc = #{imgSrc,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		abstract_content = #{abstractContent,jdbcType=VARCHAR},
		publish_time = #{publishTime,jdbcType=DATE},
		cy_comment_count = #{cyCommentCount,jdbcType=BIGINT},
		visit_count = #{visitCount,jdbcType=BIGINT},
		content_url = #{contentUrl,jdbcType=BIGINT},
		tag = #{tag,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		starCount = #{starCount,jdbcType=INTEGER}
    where 
		id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
		source_type,
		function_type,
		imgSrc,
		title,
		abstract_content,
		publish_time,
		cy_comment_count,
		visit_count,
		content_url,
		tag,
		author,
		starCount
    from data_content
    where 
		id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>