<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.local.test.reptile.dao.SpiderPlatformDao" >
  <resultMap id="BaseResultMap" type="com.local.test.reptile.pojo.vo.SpiderPlatformVo" >
	<id column="platform_id" property="platformId" jdbcType="BIGINT" />
	<result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <select id="query" resultMap="BaseResultMap" parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery">
		select t.*
		from spider_platform t
		<include refid="conditionQuery.core" />
		order by
		<choose>
			<when test="paramMap.orderCol!=null">
				${paramMap.orderCol}
			</when>
			<otherwise>
				t.platform_id
			</otherwise>
		</choose>
		
		<if test="paramMap.rp > 0">
			limit #{paramMap.firstResult} , #{paramMap.rp}
		</if>
  </select>
  <select id="queryCnt"
		parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery"
		resultType="java.lang.Integer">
		select count(*) from spider_platform t
		<include refid="conditionQuery.core" />
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from spider_platform
    where 
		platform_id = #{platformId,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.local.test.reptile.pojo.po.SpiderPlatform">
	  	<selectKey resultType="int" keyProperty="platformId" >  
			select LAST_INSERT_ID() as value  
		</selectKey>  
    insert into spider_platform (
		name
	)
    values (
		#{name,jdbcType=VARCHAR}
    )
  </insert>
  <update id="update" parameterType="com.local.test.reptile.pojo.po.SpiderPlatform" >
    update spider_platform
    set 
		name = #{name,jdbcType=VARCHAR}
    where 
		platform_id = #{platformId,jdbcType=BIGINT}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
		name
    from spider_platform
    where 
		platform_id = #{platformId,jdbcType=BIGINT}
  </select>
</mapper>